
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<div class="row">
    <div class="col-md-8 col-md-offset-3 well">
        <form method="post" action="/account/login">
            <input type="text" class="form-control" placeholder="Email" name="email" />
            <br />
            <input type="password" class="form-control" placeholder="Password" name="password" />
            <br />
            <button class="btn btn-info" >Login</button>
        </form>
    </div>
</div>

