
@{
    ViewData["Title"] = "SignUp";
}

<h2>SignUp</h2>

<div class="row">
    <div class="col-md-8 col-md-offset-3 well">
        <h2>Sign Up</h2>
        <form method="post" action="/account/signup">
            <input type="text" class="form-control" placeholder="Name" name="name" />
            <br />
            <input type="text" class="form-control" placeholder="Email" name="email" />
            <br />
            <input type="password" class="form-control" placeholder="password" name="password" />
            <br />
            <button class="btn btn-info">Sigh Up</button>
        </form>
    </div>
</div>
